<div class="form-group row">
    <label for="amountOfQuestions" class="col-sm-2 col-form-label" data-cy="aantal-vragen">Aantal te
        oefenen</label>
    <div class="col-sm-1">
        <select class="form-control form-control-sm" id="amountOfQuestions">
            <option value="5">5</option>
            <option value="10" selected="selected">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
        </select>
    </div>
</div>