<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="content">
    <h1>
        Welcome bij {{title}}!
    </h1>
</div>

<form class="needs-validation" novalidate="" name="myForm" action="/oefenen" onsubmit="return validateForm()"
    method="post">
    <vk-firstname></vk-firstname>
    <vk-amount></vk-amount>
    <vk-category></vk-category>
    <div class="form-group">
        <button class="btn btn-outline-success" type="submit" data-cy="start" id="controleren">Oefenen
            maar!</button>
    </div>
</form>